{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
			<title>Morality Play</title>
			<style>
				body { margin: 0; overflow: hidden;}
				canvas { width: 100%; height: 100% }
			</style>

			<link rel='stylesheet' type='text/css' href="{% static 'gnovel/res/css/style.css' %}"/>
	</head>
	<body>
		<!-- change this to three.min.js in the release -->
		<script src="{% static 'gnovel/js/third_party/three.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/Tween.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/stats.min.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/three-text2d.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/jquery-2.2.1.min.js' %}"></script>

		<!-- Gnovel library source files -->
		<script src="{% static 'gnovel/js/gnovel/gnovel.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/page.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/transition.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/mousemovedcamera.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/choices.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/flow.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/dialog.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/interactableobject.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/util.js' %}"></script>

		<!-- MPlay source files (not including pages) -->
		<script src="{% static 'gnovel/js/mplay/integritymanager.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/relationshipmanager.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/character.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/mplaypage.js' %}"></script>

		<!-- pages -->
		<script src="{% static 'gnovel/js/mplay/page0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page1_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page1_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page2_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page2_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page3.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page4_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page4_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page5_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page5_1.js' %}"></script>	
		<script src="{% static 'gnovel/js/mplay/page6_0.js' %}"></script>		
		<script src="{% static 'gnovel/js/mplay/page6_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page6_2.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page7_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page7_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_0.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_2.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_3.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_4.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page8_5.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/pagetest.js' %}"></script>

		<script>
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			
			var csrftoken = getCookie('csrftoken');

			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});

			$.post("/gnovel/log/", 
				{ 	name: "test",
					scene: "scenetest",
					type: "testtest",
					action_number: 84, 
					action_value: "42",
				}).
				done(function(data) {
					console.log(data);
				});

		</script>

		{{ text }}
	</body>
</html>
