{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
			<title>My first Three.js app</title>
			<style>
				body { margin: 0; }
				canvas { width: 100%; height: 100% }
			</style>
	</head>
	<body>
		<!-- change this to three.min.js in the release -->
		<script src="{% static 'gnovel/js/third_party/three.js' %}"></script>

		<script src="{% static 'gnovel/js/gnovel/gnovel.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/page.js' %}"></script>

		<!-- pages -->
		<script src="{% static 'gnovel/js/mplay/page1.js' %}"></script>
		
		<script>			
			var gnovel = new GNOVEL.Gnovel();		
			
			// add pages
			gnovel.addPage(MPLAY.Page1);
			
			// start gnovel
			gnovel.start();
		</script>
		
		{{ text }}
	</body>
</html>