{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
			<title>Morality Play</title>
			<style>
				body { margin: 0; overflow: hidden;}
				canvas { width: 100%; height: 100% }
			</style>
	</head>
	<body>
		<!-- change this to three.min.js in the release -->
		<script src="{% static 'gnovel/js/third_party/three.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/Tween.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/stats.min.js' %}"></script>
		<script src="{% static 'gnovel/js/third_party/three-text2d.js' %}"></script>

		<script src="{% static 'gnovel/js/gnovel/gnovel.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/page.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/transition.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/mousemovedcamera.js' %}"></script>
		<script src="{% static 'gnovel/js/gnovel/choices.js' %}"></script>

		<!-- pages -->
		<script src="{% static 'gnovel/js/mplay/page1.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page2.js' %}"></script>
		<script src="{% static 'gnovel/js/mplay/page3.js' %}"></script>

		<script>
			var gnovel = new GNOVEL.Gnovel();
			var mouseMovedCamera = new GNOVEL.MouseMovedCamera(gnovel);

			// for debugging
			gnovel.seeStats();

			// add pages
			gnovel.addPage(MPLAY.Page1);
			gnovel.addPage(MPLAY.Page2);
			gnovel.addPage(MPLAY.Page3);

			// start gnovel
			gnovel.start();
		</script>

		{{ text }}
	</body>
</html>
