html {
	height: 100%;
	background-color: #1d292c;
}
body {
	margin: 0;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #354144;
	font-family: NoteWorthy Bold, SF_Toontime Bold Italic, Helvetica, arial, sans-serif;
	position: relative;
}

canvas {
    background: #ffffff;
}

#application-canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#application-canvas.fill-mode-KEEP_ASPECT {
	width: 100%;
	height: auto;
	margin: auto;
}
#application-canvas.fill-mode-FILL_WINDOW {
	width: 100%;
	height: 100%;
	margin: 0;
}

/*canvas {
	display: block;
}*/
canvas:focus {
	outline: none;
}
@media screen and (min-aspect-ratio: 1280/720) {
	#application-canvas.fill-mode-KEEP_ASPECT {
		width: auto;        
		height: 100%;
		margin: 0 auto;
	}
}
@font-face{
	font-family: 'Arvo', serif;
	font-family: 'Droid Sans', sans-serif;

	font-family: 'NoteWorthy Bold';
	src: url('../font/noteworthyBoldFontFace.ttf') format('truetype');
	
	font-family: 'Bevan';
	src: url('../font/Bevan.ttf') format('truetype');

	font-family: 'SF_Toontime Bold Italic';
	src: url('../font/SF Toontime Bold Italic.ttf') format('truetype');
}