html{
	height:100%;

}

body{
	margin: 0;
	max-height: 100%;
	height:100%;
	overflow: hidden;
}

@media screen and (min-aspect-ratio: 1280/680) {
	#application-canvas.fill-mode-KEEP_ASPECT {
		margin: 0 auto;;
		width: 100%;
		height:auto;
	}
}

#container{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 48px;
	left: 0;
	width: auto;
	height: auto;
	overflow: hidden;
}

#application-canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#application-canvas.fill-mode-KEEP_ASPECT {
	width: 100%;
	height: auto;
	margin: auto;
}

#application-canvas.fill-mode-FILL_WINDOW {
	width: 100%;
	height: 100%;
	margin: 0;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 48px;
	line-height: 48px;
	background: #41648f;
	background-image: url("../footer/footer_bg.png");
	color: #ffffff;
	overflow: hidden;
}

#footer > .title {
	float: left;
}

.img{
	position: relative;
	width: 105px;
	height: 45px;
	margin: 3px 4px 0px 8px;
	background-image: url("../footer/footer icon.png");
	background-repeat: no-repeat;
}

@font-face{
	font-family: 'sfToontime';
	src:url('../font/SF_Toontime_Bold_Italic-webfont.woff') format('truetype');
	src: url('../font/SF_Toontime_Bold_Italic-webfont.woff');
}
@font-face{
	font-family: 'Noteworthy';
	src: url('../font/Noteworthy Bold.otf') format('truetype');
}
@font-face{
	font-family: 'NoteworthyLight';
	src: url('../font/Noteworthy Light.ttf') format('truetype');
}
@font-face{
	font-family: 'NoteworthyBold';
	src: url('../font/noteworthyFontFace.ttf') format('truetype');
}
